@page "/ShoppingCart"
@inherits ShoppingCartBase

@if (ShoppingCartItems == null && ErrorMessage == null)
{
    <DisplaySpinner></DisplaySpinner>
}

else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}

else
{
    <h3 class="mb-5">Shopping Cart</h3>
    @if (ShoppingCartItems.Count() > 0)
    {
        
    <div class="row mb-5">
        <div class="col-md-9">
            @foreach (var items in ShoppingCartItems)
            {
                <div class="row mb-4">
                    <div class="col-md-4">
                        <img src="@items.ProductImageURL" width="300" class="img-thumbnail">
                    </div>
                    <div class="col-md-8">
                        <h5>@items.ProductName</h5>
                        <div class="mb-4">@items.ProductDescription</div>
                            <span>Price: <b>@items.Price.ToString("C")</b>
                            <input @oninput = "()=>UpdateQty_Input(items.Id)"
                                type="number" @bind ="@items.Qty" />
                            <button data-itemId="@items.Id" class="btn btn-info button-sm update-qty" 
                                @onclick="(() => UpdateQtyCartItem_Click(items.Id, items.Qty))">Update Qty</button>
                        </span>
                        <div>
                            <button @onclick ="(() => DeleteCartItem_Click(items.Id))"
                             class="btn btn-danger sm oi oi-trash"></button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-3">
            <h5>Cart Summary</h5>
            <div class="mt-2">
                <div>Total - (@TotalQuantity items)&nbsp;<b>@TotalPrice</b></div>
                <a href="#" class="btn btn-success">
                    <span class="oi oi-credit-card"></span>&nbsp; Proceed To Checkout!
                </a>
            </div>
        </div>
        </div>
    }
    else
    {
        <h4>There are currently no items in your shopping cart!</h4>
    }
}